.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 15%);
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 180px;
  height: 130px;
}

.featured img {
  width: 40px;
  height: 40px;
  margin: auto;
}
@media (max-width: 768px) {
  .featured .box {
    width: 80%; /* Make the box fill the width of the screen */
    height: auto;
   margin-left: 30px;
  }
  
  .featured img {
    width: 40px; /* Reduce the image size */
    height: 40px;
  }
}