

/* Banner.css */
.bannerhero {
  background-color: #035b5bf7; 
  /* background-image: url(./ban2.png);  */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;

}
.column {
  flex-basis: 50%;
}

.column.left {
  text-align: center;
}

.column.right {
  padding-left: 30px;
}
.heroimg {
  height: 90%;
  margin-top: 100px;
  overflow: hidden;
  }


.herobuttonf {
  color: #df8c11;
  background-color: #df8c11;
  font-weight: 600;
  border: none;
  margin: 3px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
.heroheadingtf {
  position: relative;
  color: #cdd1d3;
  font-size: 26px;
  line-height: 1.6em;
  padding: 10px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  

}
.heroheadingmf {
  padding-top: -10%;
  position: relative;
  color: #e7e4e4;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family:"Roboto";

}
/* Responsive styles */
@media (max-width: 768px) {
  .bannerhero {
    flex-direction: column-reverse;
  }
  .heroheadingm {
    padding-top: 5%;
  }
  .heroimgf {
   width: 100%;
    margin-top: 90px;
    overflow: hidden;
      }
}














